
.container {
  width: 450px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

.card {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 12px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
}

button {
  margin-top: 18px;
  padding: 12px;
  background: #4a73ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #355df2;
}

.user-list {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.user-list li {
  background: #f4f4f4;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
}
nav {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #355df2;
  font-weight: bold;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}
